{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
<h1 class="text-center text-white">Bienvenue sur votre plateforme d'allocation de chambre</h1>
<img src='img/back.jpg' alt="Pas d image">
{% endblock %}
